*{
    margin: 0;
}

body {
    background-color: rgb(2, 87, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

h1{
    color: white;
}

.container {
    display: flex;
}

input[type="radio"] {
    display: none;
}


label {
    width: 100px;
    height: 80px;
    border-radius: 8px;
    background-color: #001833;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

label span{
    position: absolute;
    color: #000;
    top: 80px;
    transition: linear 0.3s;
}

i {
    opacity: 0.7;
    font-size: 40px;
    color: #ffffff;
    transition: linear 0.3s;
}

label:hover i{
    opacity: 1;
}

input[type="radio"]:checked+label {
    background-color: #ffffff;
}
input[type="radio"]:checked+label i {
    color: black;
    opacity: 1;
    transform: translateY(-5px) scale(0.7);
}

input[type="radio"]:checked+label span{
    top: 55px;
}